<div class="px-4">
    <span class="fs-4">Tracking</span>
    <app-time></app-time>
</div>

<div class="pt-4 px-4">
    <div class="d-flex card-bus ongoing">
        <div class="w-100 p-10 ps-3">
            <div class="d-flex justify-content-between">
                <span class="fw-semibold">Bus 1246</span>
                <span><span class="fw-semibold me-1">Departure:</span>Douala</span>
            </div>
            <div class="d-flex justify-content-between">
                <span>50 travalers registred</span>
                <span><span class="fw-semibold me-1">Arrival:</span>Yaoundé</span>
            </div>
            <div class="d-flex justify-content-between">
                <span><span class="fw-semibold me-1">Departure time:</span>15h30</span>
                <span><span class="fw-semibold me-1">Duration:</span>3h30</span>
            </div>
        </div>
        <div class="p-3 d-flex align-items-center justify-content-center">
            <i class="bi bi-three-dots-vertical"></i>
        </div>
    </div>

    <div class="d-flex card-bus ongoing mt-3">
        <div class="w-100 p-10 ps-3">
            <div class="d-flex justify-content-between">
                <span class="fw-semibold">Bus 1246</span>
                <span><span class="fw-semibold me-1">Departure:</span>Douala</span>
            </div>
            <div class="d-flex justify-content-between">
                <span>50 travalers registred</span>
                <span><span class="fw-semibold me-1">Arrival:</span>Yaoundé</span>
            </div>
            <div class="d-flex justify-content-between">
                <span><span class="fw-semibold me-1">Departure time:</span>15h30</span>
                <span><span class="fw-semibold me-1">Duration:</span>3h30</span>
            </div>
        </div>
        <div class="p-3 d-flex align-items-center justify-content-center">
            <i class="bi bi-three-dots-vertical"></i>
        </div>
    </div>

    <div class="d-flex card-bus future mt-3">
        <div class="w-100 p-10 ps-3">
            <div class="d-flex justify-content-between">
                <span class="fw-semibold">Bus 1246</span>
                <span><span class="fw-semibold me-1">Departure:</span>Douala</span>
            </div>
            <div class="d-flex justify-content-between">
                <span>50 travalers registred</span>
                <span><span class="fw-semibold me-1">Arrival:</span>Yaoundé</span>
            </div>
            <div class="d-flex justify-content-between">
                <span><span class="fw-semibold me-1">Departure time:</span>15h30</span>
                <span><span class="fw-semibold me-1">Duration:</span>3h30</span>
            </div>
        </div>
        <div class="p-3 d-flex align-items-center justify-content-center">
            <i class="bi bi-three-dots-vertical"></i>
        </div>
    </div>
</div>